<%- include('../partials/header.ejs') %>
<style>
    body {
    background-image: url('https://i.imgur.com/ad9732D.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>
<% if (players.length) { %>
  <ul>
    <% players.forEach((player) => { %>
      <li>
        <a href="/players/<%= player._id %>">
          <%= player.name %> 
        </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <h3>You don't have any players yet!</h3>
<% } %>

<%- include('../partials/footer.ejs') %>