<%- include('../partials/header.ejs') %>

<% if (players.length) { %>
  <ul>
    <% players.forEach((player) => { %>
      <li>
        <a href="/players/<%= player._id %>">
          <%= player.name %> 
        </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <h3>You don't have any players yet!</h3>
<% } %>

<%- include('../partials/footer.ejs') %>