<%- include('../partials/header.ejs') %>
<style>
    body {
    font-family: Arial, sans-serif;
    color: #b03333;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    }
    h3 {
        font-family: 'Georgia', serif;
        font-size: 1.2rem;
    }

</style>
<% if (players.length) { %>
  <ul>
    <% players.forEach((player) => { %>
      <li>
        <a href="/players/<%= player._id %>">
          <%= player.name %> 
        </a>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <h3>You don't have any players yet!</h3>
<% } %>

<%- include('../partials/footer.ejs') %>