<%- include('../partials/header.ejs') %>
<style>
   body {
    font: inherit;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>

<form action="/players" method="POST">
  <label for="playername">Player Name:</label>
  <input type="text" name="name" id="playername" />
  <label for="nationality">nationality:</label>
  <input type="text" name="nationality" id="nationality" />
  <label for="age">Age:</label>
  <input type="number" name="age" id="age" min="18" />
  <button type="submit">Add Player</button>
</form>

<%- include('../partials/footer.ejs') %>