<%- include('./partials/header.ejs') %>
<style>
    h1 {
    color: white;
    font-family: 'Georgia', serif;
    font-size: 1.7rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
} 
    p {
    color: #ffffff;
    font-family: 'Georgia', serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: left;  
    }
</style>
<!-- Home Page's Content -->
 <h1>The Dream Team</h1>
 <p>Welcome to the Dream Team page. Where you can add, edit, and update your player to create your team of your dreams. </p>
 <img src="https://i.imgur.com/ksIZBue.jpeg" alt="example">
<%- include('./partials/footer.ejs') %>

